# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Dev Container
.devcontainer/.env

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
.pytest_cache/
htmlcov/

# Logs
*.log

# Local development
*.sqlite3
.DS_Store
